#resume {
    max-width: 1100px;
    width: 1100px;
    margin: 0 auto;
}

.br {
    display: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 0 1rem;
    font-size: 1.1rem;
}

a:visited {
    text-decoration: none;
    color: #000000;
}

a:active {
    text-decoration: none;
    color: #000000;
}

.container {
    width: 100%;
    max-width: 50rem;
    margin: 2rem auto 6rem;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Nanum Gothic', sans-serif; */
    /* font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';  */
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: -.3px;
}

.resume-title {
    font-weight: bold;
    margin: .5em 0;
    color: black;
    font-size: 2.5rem;
    line-height: 1.1;
    display: block;
    text-align: left;
}

.resume-title>span {
    float: right;
    display: inline-block;
    text-align: end;
}
.contact-container {
    display: block;
    margin: 0 0 1rem 1rem;
}

.my-name {
    text-align: center;
    font-size: 50px;
}

.info {
    display: block;
    margin-bottom: 1rem;
}

.info-left {
    flex-basis: 50rem;
}

.info-right {
    flex-basis: 50rem;
}

.info-title {
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #acacac;
}

p.contact {
    margin: 0;
}

.info-content {
    display: inline-block;
    /* padding: 0 1rem; */
    font-size: 16px;
    width: 100%;
    text-align: right;
}

.section {
    margin-bottom: 1rem;
}

.section-container {
    display: flex;
}

.section-container.olimplanet{
    margin-bottom: 7rem;
}

.section-container.seoulventures{
    margin-bottom: 0rem;
}

.section-head {
    display: block;
    vertical-align: top;
    margin: 0px;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #acacac;
}

.section-left {
    display: flex;
    flex-direction: column;
    vertical-align: top;
    margin: 1rem 0 0 1rem;
    flex-basis: 40%;
}

.section-right {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
}

.section-content {
    padding: 1rem 0;
}

.section-name {
    display: inline-block;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 1rem;
    font-weight: bold;
}

.section-position,
.section-term {
    font-size: 14px;
    display: inline-block;
    width: 100%;
}

.department-name {
    margin-top: 0px;
}

.project-info {
    display: block;
}

.content-head {
    margin-bottom: 1rem;
}
.content-line {
    font-size: 16px;
    padding-bottom: 0;
}

.project-name {
    display: block;
    font-size: 22px;
}

.project-term {
    display: block;
    text-align: end;
}

.project-description {
    font-size: 16px;
    font-style: normal;
    margin: 0 0 12px 0;
}

li {
    position: relative;
    margin: 0px;
    font-size: 1rem;
    padding: .2rem 0 .2rem 1rem;
}

ul>li:before {
    position: absolute;
    left: 0;
    display: inline-block;
    content: "•";
    color: black;
}

.tech-stack {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.repo-url {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .container {
        width: unset;
        padding: 0 2rem;
    }

    .resume-title {
        font-size: 1.8rem;
        text-align: start;
    }

    .br {
        display: block;
    }

    .nbsp {
        /* display: none !important; */
    }

    .contact-container {
        display: block;
        margin: 1rem 0 0 1rem;
    }

    p.contact {
        display: block;
        width: 100%;
    }
    
    .info-content {
        font-size: 0.8rem;
        font-weight: bold;
    }

    .section {
        margin-bottom: 1rem;
    }

    .section-head {
        font-size: 24px;
        display: inline-block;
        width: 100%;
    }

    .section-container {
        flex-direction: column;
    }

    .section-left {
        display: flex;
        flex-direction: column;
        margin-left: unset;
    }

    .section-name {
        width: 100%;
        margin-bottom: 0;
    }

    .section-info {
        display: inline-block;
        width: 100%;
        margin-bottom: 1rem;
        text-align: end;
        font-size: 0.8rem;
    }

    .section-right {
        display: flex;
        flex-direction: column;
    }

    .project-name {
        font-size: 1.3rem;
    }

    .project-term {
        text-align: end;
    }

    .repo-url {
        font-weight: bold;
        margin: 0;
    }
}